Зависимостиnode_modules/.pnp.pnp.jsСборкаbuild/dist/Локальные переменные и ключи.env.env.local.env.development.local.env.test.local.env.production.localЛоги и системные файлыnpm-debug.log*yarn-debug.log*yarn-error.log*.DS_Store